<!DOCTYPE html>
<html>
  <head>
    <title>vue- step 3</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <ul>
        <li v-for="person in persons">
          {{ person.name }}
          {{ person.age }}
        </li>
      </ul>

      <input
        type="text"
        placeholder="type new name and click Add button"
        v-model="newPerson"
      />
      <button @click="onAdd">Add</button>
    </div>

    <script>
      let app = new Vue({
        el: "#root",
        data: {
          persons: [
            { name: "mika", age: 123 },
            { name: "pera" },
            { name: "laza", age: 32 }
          ],
          newPerson: null
        },
        methods: {
          onAdd() {
            app.persons.push({ name: app.newPerson });
            app.newPerson = "";
          }
        },
        mounted() {
          console.log("mounted");
        }
      });
    </script>
  </body>
</html>
